<ion-header>
  <ion-card-title>Financial Markets and Investment Banks</ion-card-title>
  <ion-card-subtitle>Financial Markets, what they do, and their role in the financial crisis.</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">

  <h1>Financial Markets</h1>
  <ul>
    <li>Stock Market</li>
    <li>Bond Market</li>
    <li>Commodity Markets</li>
    <li>Foreign Exchange Markets</li>
    <li>Derivative Security Markets</li>
  </ul>

  <h2>Classification</h2>
  <p>Financial Markets can be classified by the maturity of claim. <b>Money markets</b> have a maturity of less than 1
    year while <b>Capital markets</b> have a maturity greater than 1 year. Debt instruments can be either in the Money
    market or Capital market, but common and preferred stock are always part of the capital market. Stocks have an
    infinite maturity which makes them trade on the Capital market.</p>
  <p>Financial markets can also be classified by the <b>Order of Markets</b>. The <b>Primary market</b> is the market
    for newly issued financial assets, while the <b>Secondary market</b> is the market for after a certain period of
    time, financial assets are traded. The NASDAQ and NYSE are both examples of the Secondary markets. An example of a
    Primary market is the Seasoned equity offerings (SEO) market since they are newly listed financial assets.</p>

  <h2>Purpose of Financial Markets</h2>
  <p>Financial markets allow companies, governments and individuals to increase their utility. Savers have the ability
    to invest in financial assets so that they can defer consumption and earn a return to compensate. Borrowers have
    better access to the capital that is available so that they can invest in productive assets.</p>

  <h3>Credit Rationing</h3>
  <p>There is friction when corporations try to raise funds. These frictions are called <b>credit rationing</b>. What
    stands in the way of corporations trying to raise funds?</p>

  <img src="" alt="credit rationing">

  <h1>Investment Banks' Functions in the Financial Market</h1>
  <p>In the Primary market, investment banking facilitates transactions for new security issuance (IPO) and Seasoned
    security issuance (SEO).</p>
  <p>In the Secondary market, investment banks assist with the trading of existing securities and cash management.</p>
  <p>Investment banks may also assist with corporate functions such as mergers and acquisitions.</p>

  <h2>Underwriting</h2>
  <p>Underwriting is the assistance of issuing new securities. This includes, helping filing registration documents,
    preparing prospectus, determining offer price/size, stabilizing price after trading, and provide analyst coverage.
  </p>
  <h3>Floatation Methods</h3>
  <p>Floatation methods refer to the way of selling shares to the public. The focus is to sell enough shares at the
    desired price so that the company can get the planned proceeds. here is a list of methods:</p>
  <ul>
    <li>Firm commitment: underwriters buy entire shares at a discount price</li>
    <li>Best effort: underwriters agree to sell as many shares as possible</li>
    <li>Private placement: place entire issue to pre-specified investors (often strategic purpose)</li>
    <li>Auction: sealed bid auction where all accepted bids pay the same price.</li>
  </ul>
  <h3>Costs of Issuing security</h3>
  <h4>Direct costs</h4>
  <ul>
    <li>Underwriter compensation</li>
    <li>Registration and listing fees</li>
    <li>Legal and accounting expenses</li>
  </ul>
  <h4>Indirect costs</h4>
  <ul>
    <li>Underpricing cost
    </li>
    <li>Cost of offering delay or cancellations</li>
    <li>Loss of controls</li>
  </ul>

  <h4>Trends</h4>
  <p>Firm commitment has a high direct cost since the underwriters must buy the shares. </p>
  <p>IPO's have a higher direct cost than SEO's because IPO's are the first time a firm is issuing shares.</p>
  <p>Larger offerings have a higher marginal direct cost than smaller offerings.</p>

  <h2>About Underpricing</h2>
  <p>Where the true value of the firm is higher than the offering value. (First day close price - Offer price)</p>
  <p>Underpricing Ratio - (First day close price - Offer price) / Offer price</p>
  <p>The underpricing ratio also represents the first day returns for the IPO. Sometimes underwriters will underprice the initial offering to generate interest, so the stock gets a large return on the first day. Additionally, underwriters want to avoid shareholder litigation is the price drops immediately after the IPO. Finally, underpricing the IPO allows for a broader range of investors to get in on the stock, which can dilute the voting power of big institutional investors. However, underpricing still leaves money on the table, so investment bank's try to avoid drastic underpricing.</p>
  <img src="" alt="underpricing ratio">
  <h3>Information Asymmetry</h3>
  <p>Investment banks might not know how to price an IPO appropriately, so they can use the floatation method of "private placement" to sell to private investors who might know how to price the firm better. How can an investment bank prevent private investors from getting stock for cheap and then reselling it for the actual true value of the stock?</p>
<img src="" alt="private placement">

<h2>Other Underwriting Business</h2>\
<p>How does this play into the financial crisis?</p>
<p>CDOs are notes with various classes collateralized on a pool of assets, including public debt, corporate loans, and other types of securities. Among them, corporate loans are a common asset class to be held as collateral. CDOs primarily backed by these corporate loans are referred to as CLOs.</p>
<p>From 2004 to 2007, a total of $475 billion of corporate loans were securitized through CLOs.</p>
<p>The amount of funding raised through the securitization channel was even greater than that raised from IPOs in the U.S., which amounted to only $129 billion during the same years.</p>
</ion-content>