<ion-header>
  <ion-card-title>Credit Risk</ion-card-title>
  <ion-card-subtitle>Meauring</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h1>What is Credit Risk and how do we measure it?</h1>
  <p>Credit Risk is the risk that a firm defaults on its loan (credit).</p>
  <p>There are multiple credit rating systems including the S&P and Moddy's raiting system. Ratings typically follow a AAA, AA, A, BBB, BB, B, CCC, CC, and C rating style with AAA meaning that firm's debt has a low probability of defaulting. Bonds with ratings of BBB or higher are considered to be "investment grade".</p>
  <p>So how do we determine default probabilities? </p>
</ion-content>