<ion-header>
  <ion-card-title>Insurance</ion-card-title>
  <ion-card-subtitle>Insurance firms and what they do</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">

<h1>Insurance</h1>
<p>First off, please review this diagram of the prisoner's dilemma.</p>
<img src="../../../assets/images/insurance.png">
<h2>What is insurance?</h2>
<p>Insurance companies compensate the policyholders when a pre-specified adverse event occurs. They mostly make their revenue from insurance premiums, and their main cost is insurance payments.</p>
<h2>Attitude towards risk</h2>
<p>There are three types of risk taking behaviors, risk averse, risk neutral, and risk loving (risk seeking). Would you rather have a 100% chance of getting $100 or have a 50% of getting $200?</p>
<p>Due to human's risk behavior, we cannot use the expected value to represent risk taking. Instead, economists use a utility function.</p>
<p><b>The only the expected utility can capture the value, not utility of the expected value!</b></p>
<p>The utility function, determines whether the person is isk averse, risk neutral, or risk loving?</p>
<img src="../../../assets/images/utility.png">
<p>Here is the graph of a risk adverse person.</p>
<img src="../../../assets/images/risk_adverse.png">
<p>Here is the graph of a risk loving person.</p>
<img src="../../../assets/images/risk_loving.png">
<p>Guess what type of behavior this is?</p>
<img src="../../../assets/images/risk_neutral.png">
<p>Utility functions are estimated by advanced models and historical data.</p>
<h2>Why do we buy insurance?</h2>
<p>Insurance companies  are less ris averse than insurance buyers. They have tools to achieve lower sensitivity such as, hedging, diversification, better modeling, and superior information. More risk averse institutions shift additional risk to less risk averse institutions.</p>
<h2>Asymmetric information</h2>
<p>Insurance companies will always have less information about the policy buyer than the policy buyer himself.</p>
<p>There are types of asymmetric information problems, moral hazard, and adverse selection.</p>
<p>Suppose it costs you $100 (psychologically) to drive safely. This means that texting and driving is worth $100 to you.</p>
<ul>
  <li>Your car is worth $10,000</li>
  <li>A accident causes your car worth to be $0</li>
  <li>The insurance policy offers a premium of $800, and a reimbursement of $10,000</li>
  <li>If you drive safely, the probability of car accident is 5%</li>
  <li>Otherwise, the probability of a car accident is 10%</li>
</ul>
<img src="../../../assets/images/moral_hazard.png">
<p>When a customer has insurance in this case, they have a financial incentive to get in an accident. This is <b>moral hazard</b>. This is because the reimbursement covers the entire value of the car, so the driver is not liable at all. To fix moral hazard, have the driver pay for part of the car reimbursement by lowering the reimbursement amount.</p>
<p>What about the moral hazard case of a CEO who spends company money to fly to vegas for a weekend? This can be fixed by paying the CEO with stock grants and bonus which are tied to company performance. When the CEO is allowed to bear some of the losses, they have more <b>skin in the game.</b></p>
<p>A <b>deductible</b> is the amount you have to pay to get reimbursed by an insurance company. This effectively reduces the reimbursement which would also fix the moral hazard problem. Insurance companies will charge you less of a premium with a high deductible because they know there is less of a moral hazard problem.</p>
</ion-content>  