<ion-header>
  <ion-card-title>Commercial Banks</ion-card-title>
  <ion-card-subtitle>Essential guide to business and finance topics</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h2>Origin of banks</h2>
  <p>Banks started at temples where mercahnts could store there gold, and the temple could make loans to other
    merchants. The temple would charge a fee for this service.</p>
  <img src="../../../assets/images/bank_model.png">
  <p>Here is a bank's business model where they connect people who have money with people who need money. To keep track
    of this relationship, banks use financial statements such as the balance sheet and income statement</p>
  <h2>The Balance Sheet</h2>
</ion-content>