<ion-header>
  <ion-card-title>Derivatives Basics</ion-card-title>
  <ion-card-subtitle>It's not calculus...</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h2>What is a Derivative?</h2>
  <p>A derivative is an instrument whose value depends on, or is derived from, the value of another asset</p>
  <p>Examples are:</p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Assets</h1>
      </ion-col>
      <ion-col>
        <h1>Derivatives</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dt>Equities</dt>
        <dd>- Variable Income Securities</dd>
        <dd>- Also known as stocks</dd>
        <dd>- Preferred stock will tell you what dividend you will receive while common stock won't tell you</dd>
        <dd>- The gains you get are from variable dividends and capital gains</dd>
      </ion-col>
      <ion-col>
        <ul>
          <li>Options</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dt>Bonds</dt>
        <dd>- Fixed Income</dd>
        <dd>- Most bonds in the US are semi annual</dd>
        <dd>- Bond payments come in the form of a coupon payment in the amount of a percentage of the investment</dd>
        <dd>- If you get a 10% bond with semi annual payments for $1000, you can expect 5% payments ($50) every 6 months
        </dd>
      </ion-col>
      <ion-col>
        <ul>
          <li>Swaps</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dt>Real Estate</dt>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dt>Commodities</dt>
        <dd>Oil, Gas, Corn, Wheat</dd>
        <dd>Anything you consume</dd>
      </ion-col>
      <ion-col>
        <ul>
          <li>Futures</li>
          <li>Forwards</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dt>Currency</dt>
        <dd>Exchange rate</dd>
      </ion-col>
      <ion-col>
        <ul>
          <li>Futures</li>
          <li>Options</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h2>What is the point of a derivative?</h2>
  <ul>
    <li>Helps you hedge (reduce) risk</li>
    <li>Magnify risk</li>
    <li>Arbitrage opportunities</li>
  </ul>
  <h2>Why derivatives are important</h2>
  <ul>
    <li>Derivatives play a key role in transferring risks in the economy</li>
    <li>The underlying assets include stocks, currencies, interest rates, commodities, debt instruments, electricity, insurance payouts, the weather, etc</li>
    <li>Many financial transactions have embedded derivatives</li>
    <li>The real options approach to assessing capital investment decisions has become widely accepted</li>
  </ul>
  <dl>
  </dl>
  <h2>Early Evolution of Derivatives</h2>
  <img src="../../../assets/images/history_or_derivatives.png">
  <p>In the 1970's, foreign currency futures were introduced.</p>
  <p>Before 1970, the derivatives market was small. ONly future contracts had a well-functioning market. Financial derivatives were unknown and non satisfactory option pricing model existed.</p>
  <p>Then after</p>
</ion-content>