<ion-header>
  <ion-card-title>Derivatives Basics</ion-card-title>
  <ion-card-subtitle>It's not calculus...</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h2>What is a Derivative?</h2>
  <p>A derivative is an instrument whose value depends on, or is derived from, the value of another asset</p>
  <p>Examples are:</p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Assets</h1>
      </ion-col>
      <ion-col>
        <h1>Derivatives</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dt>Equities</dt>
        <dd>- Variable Income Securities</dd>
        <dd>- Also known as stocks</dd>
        <dd>- Preferred stock will tell you what dividend you will receive while common stock won't tell you</dd>
        <dd>- The gains you get are from variable dividends and capital gains</dd>
      </ion-col>
      <ion-col>
        <ul>
          <li>Options</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dt>Bonds</dt>
        <dd>- Fixed Income</dd>
        <dd>- Most bonds in the US are semi annual</dd>
        <dd>- Bond payments come in the form of a coupon payment in the amount of a percentage of the investment</dd>
        <dd>- If you get a 10% bond with semi annual payments for $1000, you can expect 5% payments ($50) every 6 months
        </dd>
      </ion-col>
      <ion-col>
        <ul>
          <li>Swaps</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dt>Real Estate</dt>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dt>Commodities</dt>
        <dd>Oil, Gas, Corn, Wheat</dd>
        <dd>Anything you consume</dd>
      </ion-col>
      <ion-col>
        <ul>
          <li>Futures</li>
          <li>Forwards</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <dt>Currency</dt>
        <dd>Exchange rate</dd>
      </ion-col>
      <ion-col>
        <ul>
          <li>Futures</li>
          <li>Options</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h2>What is the point of a derivative?</h2>
  <ul>
    <li>Helps you hedge (reduce) risk</li>
    <li>Magnify risk</li>
    <li>Arbitrage opportunities</li>
  </ul>
  <h2>Why derivatives are important</h2>
  <ul>
    <li>Derivatives play a key role in transferring risks in the economy</li>
    <li>The underlying assets include stocks, currencies, interest rates, commodities, debt instruments, electricity, insurance payouts, the weather, etc</li>
    <li>Many financial transactions have embedded derivatives</li>
    <li>The real options approach to assessing capital investment decisions has become widely accepted</li>
  </ul>
  <dl>
  </dl>
  <h2>Early Evolution of Derivatives</h2>
  <img src="../../../assets/images/history_or_derivatives.png">
  <p>In the 1970's, foreign currency futures were introduced.</p>
  <p>Before 1970, the derivatives market was small. ONly future contracts had a well-functioning market. Financial derivatives were unknown and non satisfactory option pricing model existed.</p>
  <p>Then starting in the 1970's, new derivative contracts were introduced which opened new excahnges, consolidated and linked exchanges. This was advanced with computer technology.</p>
  <h2>Exchange Rate Risk: Bretton Woods</h2>
  <p>The Bretton Woods Agreement (1944) set up a system of fixed exchange rate between the US dollar and other currencies. The value of the dollar was then fixed to the price of gold.</p>
  <p>The price of gold was rising around the world, so people were buying gold in the US and would sell it abroad.</p>
  <p>Currency Exchange Risk became a thing.</p>
  <p>In 1971, President Richard Nixon ended Bretton Woods.</p>
  <p>In 1972, the Chicago Mercantile Excahnge (CME or Merc) introduced foreign currency futures.</p>
  <h2>Interest Rate Risk</h2>
  <p>During the 1950s and 1960s, interest rates were low and relatively stable</p>
  <p>During the 1970s, supply shocks led to high inflation rates.</p>
  <p>In 1979, the Fed began targeting money supply growth.</p>
  <p>Developments during the 1970s led to volatile, double digit interest rates. A need for hedging interest rate risk arose.</p>
  <p>The</p>
  <img src="../../../assets/images/global_market.png">
  <p>Over the counter contracts are the largest portion because their assets are huge</p>
</ion-content>