<ion-header>
  <ion-card-title>Macro Economics</ion-card-title>
  <ion-card-subtitle>Big Money and the Financial Crisis</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h1>Financial Institutions</h1>
  <p>Commercial banks, Insurance companies, Securities firms and investment banks, etc are all Financial Institutions
  </p>
  <p>The purpose of financial institutions are is that they connect households (net savers) with corporations (net
    borrowers) by the user of cash, equity, and debt.</p>
  <p>Without FI's, there would be a maturity mismatch between the supply and demand. In addition, there would be a
    liquidity risk. Liquidity is the ease with which an asset may be traded, or the ease with which an asset can be
    converted to cash.</p>
    <p>The benefits of FI are diversification from the law of large numbers and predicable returns. They also utilize hedging due to their access to superior hedging instruments, and risk management skills.</p>
    <h2>Principle-agent relation</h2>
    <p>We are the principal, and the companies we own stock of are our agents. Sometimes the agent doesn't have the best interest of the us (principal). One example of this is moral hazard (company CEO uses a helicopter to go golfing with clients).</p>
    <p>FI's have information and monitoring power to avoid the asymmetrical information and moral hazard problems</p>
    <p><strong>Screening Process</strong> - Loan offices of a bank will screen a firm before the firm can borrow money</p>
    <p>Venture Capital firms use Stage Financing to provide funding at different phases. Eash phase of funding is conditional upon the performance during the previous stage. This is an example of FI's mitigating the information problem.</p>
    <h2>Collateral</h2>
    <p>When firms default, their assets can be collected and sold on the secondary market to recoup some of the losses.</p>
    <p>During the financial crisis TARP and Capital Purchase Program funds were used to help prevent FI's from failing. This was important since one FI's failure will increase the chances due for other FI's to fail around it. (Due to bank runs and banks holding each other's or similar assets).</p>
    <h2>Are FIs still special?</h2>
    <h3>Are they still too big to fail?</h3>
    <p>Trends in the US</p>
    <p>Decline in share of depository instiutions and insurance companies. There are increases in investment companies.</p>
    <p>FI's woud "Originate and Distribute" where they would create loans for people, and sell these risky loans to other FIs. After they sell these loans to another FI, they stop monitoring the loans. When every bank does this, lots of bad loans enter the market. When something goes wrong, lots of these loans default, causing more defaults to happen. This is how the subprime mortgage crisis happened.</p>
</ion-content>