<ion-header>
  <ion-card-title>2008 Financial Crisis Timeline</ion-card-title>
</ion-header>

<ion-content class="ion-padding">

  <div class="timeline">
    <h2 class="timeline__item timeline__item--year">Start, 2007</h2>
    <div class="timeline__item">
      <h3 class="timeline__title">Growing concerns</h3>
      <span class="timeline_date">June 8th</span>
      <p class="timeline__blurb">Amid growing concern about the housing market's reliance on subprime loans (often with
        those on poor credit), the DIJI plunge 198.94 points or 1.5% to 13266.73. Treasuries see some of their sharpest
        losses in years, pushing the yield on 10-year notes up to 5.10% amid simmering inflation jitters.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">U.S. Bond Yield hits 5-year high</h3>
      <span class="timeline_date">June 13th</span>
      <p class="timeline__blurb">U.S. bond yields hit a five-year high as investors continue to sell Treasuries, with
        the yield on the benchmark 10-year note rising to 5.249%</p>
    </div>

    <!-- <h2 class="timeline__item timeline__item--year">June 14th, 2007</h2> -->
    <div class="timeline__item">
      <h3 class="timeline__title">Financial Industry takes a hit</h3>
      <span class="timeline_date">June 14th</span>
      <p class="timeline__blurb">Bear Stearns reports a 10% decline in quarterly earnings as the mortgage market shows
        signs of cracking. Chief Financial Officer Sam Molinaro says, "We are impacted in a weaker mortgage market until
        that industry turns around".</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">Further damage</h3>
      <span class="timeline_date">June 18th</span>
      <p class="timeline__blurb">Reports say Merrill Lynch seized collateral from a Bear Stearns hedge fund invested
        heavily in subprime loans</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">Hedge fund trouble</h3>
      <span class="timeline_date">June 22nd</span>
      <p class="timeline__blurb">Bear Stearns commits $3.2 billion in secured loans to bail out its High-Grade
        Structured Credit Fund, says company's troubles are "relatively contained".</p>
      <p class="timeline__blurb">Blackstone Group's inital public offering is priced at $31 a share, raising as much as
        $4.6 billion; the next day, the stock jumps 13%.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">Further trouble</h3>
      <span class="timeline_date">June 23rd</span>
      <p class="timeline__blurb">Bear Stearns agrees to lend as much as $3.2 billion to one of its two troubled hedge funds.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">Further trouble</h3>
      <span class="timeline_date">June 28th</span>
      <p class="timeline__blurb">Bear Stearns agrees to lend as much as $3.2 billion to one of its two troubled hedge funds.</p>
    </div>



    <h3 class="timeline__item timeline__item--year">End</h3>

  </div>
</ion-content>