<ion-header>
  <ion-card-title>2008 Financial Crisis Timeline</ion-card-title>
</ion-header>

<ion-content class="ion-padding">

  <div class="timeline">
    <h2 class="timeline__item timeline__item--year">Start-2007</h2>
    <div class="timeline__item">
      <h3 class="timeline__title">Growing concerns</h3>
      <span class="timeline_date">June 8th</span>
      <p class="timeline__blurb">Amid growing concern about the housing market's reliance on subprime loans (often with
        those on poor credit), the DIJI plunge 198.94 points or 1.5% to 13266.73. Treasuries see some of their sharpest
        losses in years, pushing the yield on 10-year notes up to 5.10% amid simmering inflation jitters.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">U.S. Bond Yield hits 5-year high</h3>
      <span class="timeline_date">June 13th</span>
      <p class="timeline__blurb">U.S. bond yields hit a five-year high as investors continue to sell Treasuries, with
        the yield on the benchmark 10-year note rising to 5.249%</p>
    </div>

    <!-- <h2 class="timeline__item timeline__item--year">June 14th, 2007</h2> -->
    <div class="timeline__item">
      <h3 class="timeline__title">Financial Industry takes a hit</h3>
      <span class="timeline_date">June 14th</span>
      <p class="timeline__blurb">Bear Stearns reports a 10% decline in quarterly earnings as the mortgage market shows
        signs of cracking. Chief Financial Officer Sam Molinaro says, "We are impacted in a weaker mortgage market until
        that industry turns around".</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">Further damage</h3>
      <span class="timeline_date">June 18th</span>
      <p class="timeline__blurb">Reports say Merrill Lynch seized collateral from a Bear Stearns hedge fund invested
        heavily in subprime loans</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">Hedge fund trouble</h3>
      <span class="timeline_date">June 22nd</span>
      <p class="timeline__blurb">Bear Stearns commits $3.2 billion in secured loans to bail out its High-Grade
        Structured Credit Fund, says company's troubles are "relatively contained".</p>
      <p class="timeline__blurb">Blackstone Group's inital public offering is priced at $31 a share, raising as much as
        $4.6 billion; the next day, the stock jumps 13%.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">Further trouble</h3>
      <span class="timeline_date">June 23rd</span>
      <p class="timeline__blurb">Bear Stearns agrees to lend as much as $3.2 billion to one of its two troubled hedge
        funds.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">Federal-funds rate remains unchanged at 5.25%</h3>
      <span class="timeline_date">June 28th</span>
      <p class="timeline__blurb">Federal Reserve policy makers, on the second day of a two-day meeting, announce the key
        federal-funds rate will remain unchanged at 5.25%.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">BCE Inc. Buyout</h3>
      <span class="timeline_date">July 2nd</span>
      <p class="timeline__blurb">BCE Inc. agrees to be acquired by the investment arm of ONtario Teachers' Pension Plan,
        Providence Equity Partners Inc. and Madison Dearbon Partners for $32.6 billion. It is the largest private-equity
        buyout in history.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">UBS leadership change</h3>
      <span class="timeline_date">July 9th</span>
      <p class="timeline__blurb">After a series of setbacks, including the collapse of an internal hedge fund, Swiss
        financial firm UBS removes Chief Executive Peter Wuffli, Marcel Rohner, the deputy CEO and head of
        private-banking and wealth-management operations, succeeds him.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">DIJA surge</h3>
      <span class="timeline_date">July 13th</span>
      <p class="timeline__blurb">The DIJA surges 283.86 points or 2.1%, to a record 13861.73, its biggest gain in nearly
        four years.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">Hold 'ma beer</h3>
      <span class="timeline_date">July 14th</span>
      <p class="timeline__blurb">Oil climbs to almost $74 a barrel. The DIJA hit a record for a second straight session,
        rising 45.52 points to 13907.52 despite a jump in oil prices.</p>
    </div>

    <div class="timeline__item">
      <h3 class="timeline__title">Bear problems</h3>
      <span class="timeline_date">July 17</span>
      <p class="timeline__blurb">Bear Stearns tells clients that the assets in one of its troubled funds are essentially
        worthless, while those in the other are worth 9% of what their value was at the end of April.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">July 20</span>
      <p class="timeline__blurb">The Dow industrials cross the 14000 milestone for the first time by rising 82.19 points
        to 14000.41, lifted by IBM\'s strong earnings</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">July 25</span>
      <p class="timeline__blurb">Countrywide Financial says profit slipped 33%, dragged down by losses on certain types
        of prime mortgage loans. Countrywide slashes its 2007 earnings forecast, citing expectations of "increasingly
        challenging" housing and mortgage markets</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Aug. 1</span>
      <p class="timeline__blurb">Bear Stearns\'s two troubled funds file for bankruptcy protection and the company
        freezes assets in a third fund.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Aug. 5</span>
      <p class="timeline__blurb">Bear Stearns Co-President and Co-Chief Operating Officer Warren Specter resigns. Alan
        Schwartz becomes sole president. CFO Molinaro takes over co-COO role.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Aug. 6</span>
      <p class="timeline__blurb">Warren Spector, Bear Stearns\'s co-president, quits, becoming Wall Street\'s
        highest-profile casualty in the burgeoning subprime-lending fiasco.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Aug. 6</span>
      <p class="timeline__blurb">Warren Spector, Bear Stearns\'s co-president, quits, becoming Wall Street\'s
        highest-profile casualty in the burgeoning subprime-lending fiasco.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Aug. 7</span>
      <p class="timeline__blurb">The Dow industrials surge 286.87 points, or 2.2%, to 13468.78, as investors
        aggressively bet ahead of the Federal Reserve meeting</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Aug. 10</span>
      <p class="timeline__blurb">Fallout from the credit crisis intensifies, triggering injections of cash by the U.S.,
        EU and Japanese central banks, among others, and sending the Dow industrials plunging 387.18 points to 13270.68.
      </p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Aug. 11</span>
      <p class="timeline__blurb">The Dow industrials drop 212 points during the session before recovering to finish down
        31.14 at 13239.54.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Aug. 16</span>
      <p class="timeline__blurb">The Dow industrials tumble 167.45 points, or 1.29%, to close at 12861.47 and extend the
        previous day\'s 207.61-point fall.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Aug. 18</span>
      <p class="timeline__blurb">The Fed cuts the discount rate, or interest charged on loans it makes to banks and
        other depository institutions, to 5.75% from 6.25%.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Aug. 23</span>
      <p class="timeline__blurb">Bank of America acquires a $2 billion equity stake in Countrywide in a bid to bolster
        the confidence of creditors and investors in the mortgage lender S</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Sept. 12</span>
      <p class="timeline__blurb">Crude rises 74 cents to a record $78.23. Sept. 19 The Fed cuts the federal-funds rate,
        the benchmark target rate for overnight lending between banks, by half a percentage point to 4.75% S</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Sept. 20</span>
      <p class="timeline__blurb">Bear reports 68% drop in quarterly income. The company\'s accounts slipped by $42
        billion between the end of May and the end of August. S</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Sept. 21</span>
      <p class="timeline__blurb">Gold soars to a 27 1/2-year high of $732.40 a troy ounce on combination of a weak
        dollar and increasing inflation fears Oct. 1. -- UBS says it will write down as much as $3.41 billion in
        fixed-income assets, including securities tied to subprime mortgages.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Oct. 2</span>
      <p class="timeline__blurb">The Dow industrials surges 191.92 points, or 1.38%, to 14087.55. It was the average\'s
        55th record finish in the previous 12 months, surpassing 14000.41 in July.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Oct. 12</span>
      <p class="timeline__blurb">A deal-inspired rebound in the technology sector helps stocks and the Dow climbs 77.26
        to 14093.08.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Oct. 16</span>
      <p class="timeline__blurb">Citigroup posts a 57% drop in profit, as the bank is hit with write-downs tied to
        mortgage-backed securities and loans to fund deals that were delayed</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Oct. 17</span>
      <p class="timeline__blurb">Morgan Stanley laid off about 300 bankers after revenue from sales and trading in
        credit markets in its third quarter plunged to $260 million from $1.3 billion three months earlier. The bank
        also wrote down more than $1 billion of loans for leveraged buyouts.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Oct. 18</span>
      <p class="timeline__blurb">J.P. Morgan Chase\'s net rises 2% to a record $3.37 billion as CEO James Dimon\'s plan
        to slash costs and invest heavily in technology appear to pay off amid the credit crunch.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Oct. 25</span>
      <p class="timeline__blurb">Merrill Lynch posts a $2.24 billion loss as a larger-than-expected $8.4 billion
        write-down on mortgage-related securities leaves the firm with its first quarterly deficit since 2001.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Oct. 27</span>
      <p class="timeline__blurb">Countrywide Financial posts its first quarterly loss in 25 years on about $1 billion in
        write-downs.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Oct. 28</span>
      <p class="timeline__blurb">The Federal Reserve cuts interest rates by a quarter point to 4.5%</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Nov. 3</span>
      <p class="timeline__blurb">Gold futures climb 1.9%, or $15, to $805.70, the highest level since January 1980, on
        inflation fears.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Nov. 4</span>
      <p class="timeline__blurb">Citi\'s CEO Charles Prince resigns. Vikram Pandit, head of its investment-banking
        business, is named chief executive.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Nov. 8</span>
      <p class="timeline__blurb">GM posts a $38.96 billion loss due to a tax-credit write-down, one of the biggest
        quarterly losses for a U.S. company.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Nov. 14</span>
      <p class="timeline__blurb">Bear Stearns CFO Molinaro says the company will write down $1.62 billion and book a
        fourth-quarter loss.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Nov. 15</span>
      <p class="timeline__blurb">Merrill names John Thain, the chief of NYSE Euronext and a former Goldman Sachs
        executive, as its new CEO, as the board seeks steady leadership in the wake of inner turmoil and risky
        expansion.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Nov. 24</span>
      <p class="timeline__blurb">Crude hits a record $98.18, its high for the year, amid forecasts of higher output and
        cold Northeast weather.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Nov. 27</span>
      <p class="timeline__blurb">Citigroup, seeking to restore investor confidence amid massive losses in the credit
        markets and a lack of permanent leadership, receives a $7.5 billion capital infusion from the investment arm of
        the Abu Dhabi government.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Nov. 28</span>
      <p class="timeline__blurb">Bear Stearns lays off another 4% of its staff, two weeks after cutting 2% of its
        workforce.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Dec. 11</span>
      <p class="timeline__blurb">UBS announces write-downs of $10 billion, becoming one of the biggest casualties of the
        U.S. subprime-mortgage meltdown. The disclosure comes as the Swiss bank receives an $11.5 billion capital
        infusion from Singapore\'s investment arm and a Middle Eastern investor.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Dec. 12</span>
      <p class="timeline__blurb">The Dow industrials plunge 294.26 points, or 2.1%, to 13432.77, as many investors hoped
        for a half-point cut.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Dec. 12</span>
      <p class="timeline__blurb">The Dow industrials plunge 294.26 points, or 2.1%, to 13432.77, as many investors hoped
        for a half-point cut.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Dec. 20</span>
      <p class="timeline__blurb">Morgan Stanley posts a $3.59 billion loss, its first quarterly deficit in 21 years,
        amid a $9.4 billion write-down on its mortgage assets. The firm receives a $5 billion investment from a Chinese
        fund in exchange for a 9.9% stake. Chinese buyers spend $29.2 billion acquiring foreign companies, outpacing for
        the first time foreign buyers that have invested in China.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Dec. 20</span>
      <p class="timeline__blurb">Morgan Stanley posts a $3.59 billion loss, its first quarterly deficit in 21 years,
        amid a $9.4 billion write-down on its mortgage assets. The firm receives a $5 billion investment from a Chinese
        fund in exchange for a 9.9% stake. Chinese buyers spend $29.2 billion acquiring foreign companies, outpacing for
        the first time foreign buyers that have invested in China.</p>
    </div>

    <h3 class="timeline__item timeline__item--year">2008</h3>

    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Jan. 7</span>
      <p class="timeline__blurb">Bear Stearns CEO Cayne retires under pressure. President Alan Schwartz takes over.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Jan. 10</span>
      <p class="timeline__blurb">Merrill is expected to get $3 billion to $4 billion, much of it from a Middle Eastern
        government investment fund. Citi could get as much as $10 billion, likely all from foreign governments.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Jan. 15</span>
      <p class="timeline__blurb">Financial stocks swoon as economists predict the U.S. economy will slip into recession.
        President Bush unveils a $150 billion stimulus plan.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Jan. 21</span>
      <p class="timeline__blurb">While U.S. markets were closed for the Martin Luther King Jr. holiday, major indexes
        fell 7.2% in Germany, 7.4% in India and 5.5% in Britain.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Jan. 22</span>
      <p class="timeline__blurb">Fed policy makers make the single deepest cut in the interest-rate target in more than
        two decades: a three-quarter percentage-point cut in the target for the federal-funds rate, to 3.5%.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Jan. 24</span>
      <p class="timeline__blurb">Congress and the White House hammer out an economic stimulus package that would put
        $150 billion into the hands of consumers and businesses while seeking to revive the market for large mortgages.
      </p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Feb. 15</span>
      <p class="timeline__blurb">Subprime woes spread to a broad range of assets, including certain kinds of municipal
        debt.</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Feb. 26</span>
      <p class="timeline__blurb">Federal Trade Commission Chairman Deborah Platt Majoras announces she will resign next
        month</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Feb. 27</span>
      <p class="timeline__blurb">Gold settled at $958.20 after a record high of $960 overnight on the New York
        Mercantile Exchange.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">Feb. 27</span>
      <p class="timeline__blurb">Gold settled at $958.20 after a record high of $960 overnight on the New York
        Mercantile Exchange.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 3</span>
      <p class="timeline__blurb">Gold inched closer to the psychologically important threshold of $1,000 an ounce,
        hitting an intraday high of $986.90. Gold is still less than half its inflation-adjusted peak of $2,239.67, hit
        on Jan. 21, 1980.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 3</span>
      <p class="timeline__blurb">Gold inched closer to the psychologically important threshold of $1,000 an ounce,
        hitting an intraday high of $986.90. Gold is still less than half its inflation-adjusted peak of $2,239.67, hit
        on Jan. 21, 1980.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 10</span>
      <p class="timeline__blurb">Broker-dealer Lehman Brothers announced a fresh round of layoffs totaling 5% of its
        workforce, or 1,425 people.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 10</span>
      <p class="timeline__blurb">Broker-dealer Lehman Brothers announced a fresh round of layoffs totaling 5% of its
        workforce, or 1,425 people.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 11</span>
      <p class="timeline__blurb">The Dow Jones Industrial Average rocketed 416.66 points, or 3.6%, to 12156.81M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 12</span>
      <p class="timeline__blurb">Crude-oil futures sprung to a fresh record at $109.92 on the New York Mercantile
        Exchange after gliding as high as $110.20 a barrel.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 12</span>
      <p class="timeline__blurb">Crude-oil futures sprung to a fresh record at $109.92 on the New York Mercantile
        Exchange after gliding as high as $110.20 a barrel.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 13</span>
      <p class="timeline__blurb">Some gold futures hit the much-expected $1,000-an-ounce price.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 14</span>
      <p class="timeline__blurb">The federal government and J.P. Morgan Chase bail out Bear. The company says it sought
        the emergency funding after realizing it would not be able to keep up with a spike in demand from lenders.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 16</span>
      <p class="timeline__blurb">J.P. Morgan announces it has acquired Bear Stearns for $2 per share, or about $236
        million.M</p>
    </div>
    <div class="timeline__item">
      <h3 class="timeline__title">Fin Crisis</h3> <span class="timeline_date">March 17</span>
      <p class="timeline__blurb">Swiss banking giant UBS reduces its balance sheet by some $520 billion, or 20%, from
        last year. The dollar weakened to its lowest point in more than 12 years against the yen, to below ¥96 to the
        dollar. The 13-nation euro traded as high as $1.5905, a new record, before dropping back slightly to $1.5761</p>
    </div>

    <h3 class="timeline__item timeline__item--year">End</h3>

  </div>
</ion-content>