<ion-header>
  <ion-card-title>Interest Rate Risk</ion-card-title>
  <ion-card-subtitle></ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">

  <h1>What is interest rate risk?</h1>
  <p>Interest rate risk is a type of market risk that has to do with interest rates. Fixed income and fixed liabilities
    are what mainly gets affected.</p>
  <p>When there is a difference in maturities between a firm's assets and liabilities, there is a <b>maturity
      mismatch</b> meaning there is interest rate risk.</p>
  <h2>Why is maturity mismatch a bad thing?</h2>
  <h3>Refinancing Risk</h3>
  <p>Say you are a firm and you issue $100M of liabilites of 1-year maturity to finance a project (assets). This project
    needs $100M/year with a 2-year maturity</p>
  <p>The maturity in assets is longer than that of liabilities. What will you do at the end of year one when you your
    liabilities are due and you have to refinance your project (assets)?</p>
  <img src="../../../assets/images/refinancing-risk.PNG">
  <p>In this case, there is a mismatch of maturities between Assets and Liabilities. There is an amount of $100 M
    liabilities whose interest rate has changed. $100 M liabilities will need to be repriced in one year.</p>
  <h3>Reinvestment Risk</h3>
  <p>Now imagine you have 2 years of set liabilities, and only 1 year of set assets.</p>
  <img src='../../../assets/images/reinvestment-risk.PNG'>
  <p>When you secure assets for year 2, there is a risk that the interest you earn on your assets is less than what you
    are paying for your liabilities.</p>
  <p>In this case, there is a mismatch of maturities between assets and liabilities. There is an amount of $100M assets
    whose interest rate is changed. $100M of assets needs to be repriced in one year.</p>

  <h1>Why do interest rates change?</h1>
  <p>Interest rates essential measure the cost of money, meaning the amount of money in the open market determine the
    interest rate.</p>
  <p>The central bank of a country controls the interest rate level through <b>open market operations</b>.</p>
  <p>Open market operations influence the money supply. These actions can be buying and selling government bonds on the
    open market. If the government purchases government bonds, cash will be transferred from the government to the open
    market, so there will be more money supply. A higher money supply will lower the interest rate.</p>
  <p>During the 2008 financial crisis and COVID crisis, the US governemnt lowered interest rates in order to stimulate
    the economy.</p>
  <p>When the US Federal Reserve bank deciedes to raise interest rate, it will go to the open market and sell government
    bonds which will reduce the money supply, thus raising interest rates.</p>

  <h2>Historical look at interest rates</h2>
  <img src="../../../assets/images/US-Treasury-Bills.PNG">
  <p>Taking a look at historical T-Bill rates, you will notice they are volatile. They move with business cycles. When
    their is a recession, interest rates are lowered. When there is an economic boom or inflation, interest rates rise.
  </p>
  <p>Recently interest rates have been low. In the early 2000s low interest rates were caused by the bursting tech
    bubble and the 9/11 terrorist attacts. Moving forward, banks took advantage of low interest rates and began to issue
    subprime mortgage loans. As the economy strengthend, interest rates begain to rise around mid 2000s. This caused the
    subprime mortgages to default and during the 2008 financial crisis, interest rates began to decrease again.</p>

  <h2>Future interest rates</h2>
  <p>If we know interest rates rise and fall with the economy, can we predict future interest rates? We would want to be
    able to predict future interest rates, so we might be able to hedge against interest rate risk.</p>
  <h3>Term Structure of Interest Rates</h3>
  <p>Term structure of interest rates describes the yields of a security when the maturity of the security changes, while everything else is kept constant.</p>
  <p>Yields can also be called Yield to Maturity or YTM. This yield (YTM) is different than the YTM when discussing bond values. For a bond, YTM is the discount rate that is used to calculate the price of a bond.</p>
  <h4>More info about bonds</h4>
  <p>When the YTM is lower than the coupon rate of a bond, you have a premium bond. When the YTM is higher, you have a discount bond. When the coupon rate and YTM are the same, the bond is at its par value.</p>
  <p>For the rest of this article, YTM will refer to the interest rate, and not the discount rate of a bond.</p>
  <h3>Term Structure of Interest Rates (Yield Curves)</h3>
  <p>Here are 4 difference yield curves. On the y-axis is YTM, and the x-axis is maturity time. Yield curves describe how interest rates change over time.</p>
  <img src='../../../assets/images/yield-curves.PNG'>
  <h4>How are yield curves dervied?</h4>
  <p>The <b>Unbiased Expectations Theory</b> describes the relationship between long-term rates and short-term rates. Long-term rates are the geometric average of current and expected short-term rates. Since we do not know future rates, we use expected rates.</p>
  <img src='../../../assets/images/unbiased-expectations-theory.PNG'>
  <p>Here is an example of a 2 year maturity where we assume that the expected interest rate in year 2 will larger than that of the first year.</p>
  <img src='../../../assets/images/unbiased-expectations-theory-2-year.PNG'>
  
  <h1>How can we measure interest rate risk?</h1>
  <h2>Repricing Model</h2>
  <p>The Repricing Model is to measure potential changes in interest income and interest expense over the near future due to changes in interest rates.</p>
  <p>Here the formula and examples of it from the earlier examples of refinancing and reinvestment risk. The repricing model tells you how much a firm will gain or lose from a change in interest rates.</p>
  <img src='../../../assets/images/repricing-model.PNG'>
  <p>The difference between the amount that needs to be repricing and the amount of liability that needs to be repricing is known as the <b>repricing gap</b>. When discussing a repricing gap, it is important to identify the time period that the assets/liabilities will need to be repriced. This is known as the <b>Maturity Buckets</b>.</p>
  <h3>Steps to use repricing model</h3>
  <ul>
    <li>Choose your repricing interval (maturity buckets)</li>
    <li>Determine the rate sensitive assets and rate sensitive liabilities</li>
    <ul>
      <li>Will or can this asset or liability have its interest rate changed within a particular maturity bucket?</li>
      <li>If yes, then it is a rate-sensitive asset/liability.</li>
    </ul>
  </ul>
  <p>You can find the repricing gaps for assets and liabilities fairly easily. The Federal reserve bank requires that commercial banks report their repricing gaps with maturities of</p>
  <ul>
    <li>One day</li>
    <li>More than three months to six months</li>
    <li>More than six months to twelve months</li>
    <li>More than one year to five years</li>
    <li>Over five years</li>
  </ul>
  <p>Here is an example of rate sensitive assets in a balance sheet for a maturity bucket of 1 year.</p>
  <img src="../../../assets/images/maturity-buckets.PNG">
  <h3>Some things to note about the repricing model</h3>
  <p>When the repricing gap is negative, that means that there are more rate sensitive liabilities than assets. When liabilities are greater than assets, there is more refinancing risk than reinvestment risk. That means that as interest rates increase, we are more exposed to interest rate risk through our refinancing risk.</p>
  <p>A similar thing can be said when rate sensitive assets are greater than liabilities. This means there is more reinvestment risk, and there would be a benefit to us from an increase in interest rates.</p>
  <p>The opposite happens if interest rates decrease. When interest rates decrease, it is a good thing for refinancing risk (since you can get better rates), and a bad thing for reinvestment risk (since your investment will cost more).</p>
  <h3>What happens if interest rates change differently for assets and liabilities?</h3>
  <img src="../../../assets/images/unequal-repricing.PNG">
  <h3>Weaknesses of Repricing Model</h3>
  <ul>
    <li>The repricing model depends solely on the balance sheet which records book values and not market value.</li>
    <li>Ignores off-balance sheet cash flows</li>
    <li>Distribution of assets and liabilities within individual buckets is not considered. Mismatches within bucekts can be substantial.</li>
    <li>Ignores effects of runoffs. Banks continuously originate and retire consumer and mortgage loans. Runoffs may be rate-sensitive.</li>
  </ul>
  <h2>A second way to measure interest rate risk: Duration</h2>
  <p>Let's build up the intuition of duration first.</p>
  <p>Let's first see how the market price of bonds is affected by interest rate change. In general, the longer the term to maturity, the greater the sensitivity to interest rate changes there are. This is mainly because when we price bonds, we discount the coupon payment of the bond by the interest rate (YTM). For longer period bonds, the discount factor compounds more than a shorter period bond.</p>
  <p>Another trend with interest rates and bond prices is that higher coupon bonds are less sensitive to changes in interest rates. This is because high coupon bonds generate more earlier on cash flows which get discounted less. </p>
  <p>Now, what happens to bond prices when the coupon payments and maturity times change? This is what we can use duration for.</p>
  <h3>Duration</h3>
  <p>Duration is the weighted average time to maturity using the relative present values of the cash flows as weights; The units of duration are years. Duration combines the effects of differences in coupon rates and differences in maturity. It is based on the elasticity of bond price with respect to interest rate.</p>
  <img src="../../../assets/images/duration-example.PNG">
  <p>A thing to note is that duration is typically smaller than the length of the bond since duration is weighted with earlier coupon payments.</p>
  <p>You can think of duration as the "adjusted maturity" based on the actual maturity but adjusted for the effect of coupon payments on the relation between bond value and interest rating changes. In other words, duration takes into account the market value of the bond.</p>
  <h4>The bond with the higher duration is more sensitive to interest rate changes.</h4>
  <h3>Features of duration</h3>
  <h4>Duration and Maturity</h4>
  <p>As you increase the maturity of a bond, the duration increases. This is because duration is simply an adjusted maturity. However the amount of duration increases is less as the maturity keeps increases. This is because far into the future cash flows are heavily discounted, so their effect on duration is less.</p>
  <h4>Duration and Coupon</h4>
  <p>As you increase coupon payments, the duration decreases. This is because more coupon payments put more weight on the earlier cash payments, thus reducing the duration.</p>
  <h4>Duration and YTM</h4>
  <p>As you increase the YTM, the duration decreases. This is because with a higher YTM, later cash flows will be more heavily discounted, thus the duration will decrease.</p>
  <p>The duration of a zero-coupon bond is the same as the maturity since 100% of its present value is generated by the payment of the face value, at maturity.</p>
  <h3>How does Duration manage interest rate risk?</h3>
  <p>We can use match the duration of assets and liabilities which will offset profits if interest rates rise or fall. This is called <b>Balance Sheet Immunization</b>.</p>
  <p>TODO duration elasticity, @1:53</p>
</ion-content>