<ion-header>
  <ion-card-title>Know your way around the 3 main financial statements</ion-card-title>
  <ion-card-subtitle>Breaking down the Income Statement, Balance Sheet, and Statement of Cash Flows</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h1>Balance Sheet</h1>
  <p>The Balance Sheet can be broken down by this simple equation</p>
  <figure>Assets = Liabilities + Shareholders' Equity</figure>
  <p>Now let's break down AT&T's 2019 balance sheet and satisfy this equation</p>
  <h3>Consolidated Balance Sheet</h3>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip" >
          Assets
          <span class="tooltiptext">Tooltip text</span>
        </div>
      </ion-col>
      <ion-col>
        <div>
          2019
        </div>
      </ion-col>
      <ion-col>
        <div>
          2018
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Current Assets
          <span class="tooltiptext">Current assets have a lifespan of one year or less, meaning they can be converted easily into cash. Such asset classes include cash and cash equivalents, accounts receivable and inventory.</span>
        </div>
      </ion-col>
      <ion-col>
        <div>

        </div>
      </ion-col>
      <ion-col>
        <div>

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Cash and cash equivalents
        </div>
      </ion-col>
      <ion-col>
        <div>
          12,130
        </div>
      </ion-col>
      <ion-col>
        <div>
          5,204
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Accounts receivable
        </div>
      </ion-col>
      <ion-col>
        <div>
          22,636
        </div>
      </ion-col>
      <ion-col>
        <div>
          26,472
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Prepaid expenses
        </div>
      </ion-col>
      <ion-col>
        <div>
          1,631
        </div>
      </ion-col>
      <ion-col>
        <div>
          2,047
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Accounts receivable
        </div>
      </ion-col>
      <ion-col>
        <div>
          22,636
        </div>
      </ion-col>
      <ion-col>
        <div>
          26,472
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Other current assets </div>
      </ion-col>
      <ion-col>
        <div> 18,364 </div>
      </ion-col>
      <ion-col>
        <div> 17,704 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Total current assets </div>
      </ion-col>
      <ion-col>
        <div> 57,761 </div>
      </ion-col>
      <ion-col>
        <div> 51,427 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Noncurrent inventories and theatrical film and television production costs </div>
      </ion-col>
      <ion-col>
        <div> 12,434 </div>
      </ion-col>
      <ion-col>
        <div> 7,713 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Property, Plant, and Equipment - Net </div>
      </ion-col>
      <ion-col>
        <div> 130,128 </div>
      </ion-col>
      <ion-col>
        <div> 131,473 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Goodwill </div>
      </ion-col>
      <ion-col>
        <div> 146,241 </div>
      </ion-col>
      <ion-col>
        <div> 146,370 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Licenses - Net </div>
      </ion-col>
      <ion-col>
        <div> 97,907 </div>
      </ion-col>
      <ion-col>
        <div> 96,144 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Trademarks and Trade Names - Net </div>
      </ion-col>
      <ion-col>
        <div> 23,567 </div>
      </ion-col>
      <ion-col>
        <div> 24,345 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Distribution Networks - Net </div>
      </ion-col>
      <ion-col>
        <div> 15,345 </div>
      </ion-col>
      <ion-col>
        <div> 17,069 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Other Intangible Assets - Net </div>
      </ion-col>
      <ion-col>
        <div> 20,798 </div>
      </ion-col>
      <ion-col>
        <div> 26,269 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Investments in and Advances to Equity Affiliates </div>
      </ion-col>
      <ion-col>
        <div> 3,695 </div>
      </ion-col>
      <ion-col>
        <div> 645 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Operating lease right-of-use assets </div>
      </ion-col>
      <ion-col>
        <div> 24,039 </div>
      </ion-col>
      <ion-col>
        <div> - </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Other Assets </div>
      </ion-col>
      <ion-col>
        <div> 22,754 </div>
      </ion-col>
      <ion-col>
        <div> 24,809 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Total Assets </div>
      </ion-col>
      <ion-col>
        <div> 551,669 </div>
      </ion-col>
      <ion-col>
        <div> 531,864 </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>