<ion-header>
  <ion-card-title>Know your way around the 3 main financial statements</ion-card-title>
  <ion-card-subtitle>Breaking down the Income Statement, Balance Sheet, and Statement of Cash Flows</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h1>Balance Sheet</h1>
  <p>The balance sheet is a snapshot (stock measure) of the firm's assets and liabilities at a given point in time.</p>


  <p>The Balance Sheet can be broken down by this simple equation called the Balance Sheet Identity.</p>
  <figure>Assets = Liabilities + Shareholders' Equity</figure>
  <p>Here is the relationship between assets, liabilities, and equity visualized</p>
  <img src="../../../assets/images/balance_sheet_relationship.png">


  <p>Now let's break down AT&T's 2019 balance sheet and satisfy this equation</p>
  <h3>Consolidated Balance Sheet</h3>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Assets
          <span class="tooltiptext">Tooltip text</span>
        </div>
      </ion-col>
      <ion-col>
        <div>
          2019
        </div>
      </ion-col>
      <ion-col>
        <div>
          2018
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Current Assets
          <span class="tooltiptext">Current assets have a lifespan of one year or less, meaning they can be converted
            easily into cash. Such asset classes include cash and cash equivalents, accounts receivable and
            inventory.</span>
        </div>
      </ion-col>
      <ion-col>
        <div>

        </div>
      </ion-col>
      <ion-col>
        <div>

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Cash and cash equivalents
        </div>
      </ion-col>
      <ion-col>
        <div>
          12,130
        </div>
      </ion-col>
      <ion-col>
        <div>
          5,204
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Accounts receivable
        </div>
      </ion-col>
      <ion-col>
        <div>
          22,636
        </div>
      </ion-col>
      <ion-col>
        <div>
          26,472
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Prepaid expenses
        </div>
      </ion-col>
      <ion-col>
        <div>
          1,631
        </div>
      </ion-col>
      <ion-col>
        <div>
          2,047
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip">
          Accounts receivable
        </div>
      </ion-col>
      <ion-col>
        <div>
          22,636
        </div>
      </ion-col>
      <ion-col>
        <div>
          26,472
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Other current assets </div>
      </ion-col>
      <ion-col>
        <div> 18,364 </div>
      </ion-col>
      <ion-col>
        <div> 17,704 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Total current assets </div>
      </ion-col>
      <ion-col>
        <div> 57,761 </div>
      </ion-col>
      <ion-col>
        <div> 51,427 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Noncurrent inventories and theatrical film and television production costs
        </div>
      </ion-col>
      <ion-col>
        <div> 12,434 </div>
      </ion-col>
      <ion-col>
        <div> 7,713 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Property, Plant, and Equipment - Net </div>
      </ion-col>
      <ion-col>
        <div> 130,128 </div>
      </ion-col>
      <ion-col>
        <div> 131,473 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Goodwill </div>
      </ion-col>
      <ion-col>
        <div> 146,241 </div>
      </ion-col>
      <ion-col>
        <div> 146,370 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Licenses - Net </div>
      </ion-col>
      <ion-col>
        <div> 97,907 </div>
      </ion-col>
      <ion-col>
        <div> 96,144 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Trademarks and Trade Names - Net </div>
      </ion-col>
      <ion-col>
        <div> 23,567 </div>
      </ion-col>
      <ion-col>
        <div> 24,345 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Distribution Networks - Net </div>
      </ion-col>
      <ion-col>
        <div> 15,345 </div>
      </ion-col>
      <ion-col>
        <div> 17,069 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Other Intangible Assets - Net </div>
      </ion-col>
      <ion-col>
        <div> 20,798 </div>
      </ion-col>
      <ion-col>
        <div> 26,269 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Investments in and Advances to Equity Affiliates </div>
      </ion-col>
      <ion-col>
        <div> 3,695 </div>
      </ion-col>
      <ion-col>
        <div> 645 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Operating lease right-of-use assets </div>
      </ion-col>
      <ion-col>
        <div> 24,039 </div>
      </ion-col>
      <ion-col>
        <div> - </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Other Assets </div>
      </ion-col>
      <ion-col>
        <div> 22,754 </div>
      </ion-col>
      <ion-col>
        <div> 24,809 </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <div class="ion-text-left tooltip"> Total Assets </div>
      </ion-col>
      <ion-col>
        <div> 551,669 </div>
      </ion-col>
      <ion-col>
        <div> 531,864 </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h2>How to record items in a balance sheet</h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Action</h3>
      </ion-col>
      <ion-col>
        <h3>Assets</h3>
      </ion-col>
      <ion-col>
        <h3>
          Liabilities and Equity
        </h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Firm issues debt that has a face value of $100.</p>
      </ion-col>
      <ion-col>
        <p>Cash: + $100</p>
      </ion-col>
      <ion-col>
        <p>Short-term debt: +$100 </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Firm issues $100 of more stocks to pay for accounts payable</p>
      </ion-col>
      <ion-col>
        <p>No action</p>
      </ion-col>
      <ion-col>
        <p>Equity goes up $100 from the shares, and accounts payable from liabilities goes down $100. </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Firm repurchases $1000 stocks</p>
      </ion-col>
      <ion-col>
        <p>Decrease in cash by $1000</p>
      </ion-col>
      <ion-col>
        <p>Equity decreases by $0100</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Firm takes a loan of $100</p>
      </ion-col>
      <ion-col>
        <p>Increase of cash of $100</p>
      </ion-col>
      <ion-col>
        <p>From liabilities, short term loans increase by $100</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>A person stakes their money and deposits it in the bank</p>
      </ion-col>
      <ion-col>
        <p>Banks deposit (like cash) increases by $100</p>
      </ion-col>
      <ion-col>
        <p>From liabilities, short term loans increase by $100</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>From the banks perspective</p>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <p>Someone takes a loan from the bank</p>
      </ion-col>
      <ion-col>
        <p>Bank gains a loan in their asset</p>
      </ion-col>
      <ion-col>
        <p></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Person deposits in the bank</p>
      </ion-col>
      <ion-col>
        <p></p>
      </ion-col>
      <ion-col>
        <p>Deposit is added to their liabilities</p>
      </ion-col>
    </ion-row>

  </ion-grid>
<p>One thing to note is that if someone defaults on their loan with the bank, the bank will loose money in their assets. To balance this loss out, the defaulted loan loss in the equity side of the equation will also decrease.</p>

<img src="../../../assets/images/bank_comp.png">
<p>Credit cards make up 10% and they offer a line of credit to borrowers. Compared to mortgages, where the borrower gets the lump sum at the start of the deal, and they have collateral.</p>
<p>During financial crisis' people use credit cards more often, but this doesn't harm the cash flow of a bank since during economic downturns, people also save more too and thus deposit more. This is what is called the <strong>cushion effect</strong></p>

<h2>Income statement</h2>
<p>While the balance sheet represents a financial snapshot, the income statement is a flow measure over a period of time. The purpose of the income statement is to measure a firm's performance.</p>
<p>The reatined </p>
</ion-content>