<ion-header>
  <ion-card-title>Valuation</ion-card-title>
  <ion-card-subtitle>How to value a firm</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h1>Cash Burn</h1>
  <p><b>Cash burn</b> is the cash a venture expends on its operating and financing expenses and its investments in assets</p>
  <p>All operational related sources and uses other than revenue and changes in accounts receivables which</p>
  <p>Cash Burn = </p>
  <ul>
    <li>Operating expenses, interest, tax expenses</li>
    <li>+ Increase in inventories</li>
    <li>- Change in Payables and Accrued Liabilities</li>
    <li>+ Capital Expenditures</li>
  </ul>
  <p></p>
</ion-content>