<ion-header>
  <ion-card-title>Volatility Smiles</ion-card-title>
  <ion-card-subtitle>How options are priced in the real world</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <p>One of the main assumptions of the black-sholes model is that the returns of the underlying asset is log-normally distributed, but what happens when the returns are not log-normal?</p>
  <p>Volatility is one of the main ingredients used in the black-sholes model to price options, and volatility depends on the option's strike price and time to maturity. So how can we use real world (implied) volatilities to price our options?
  </p>
  <h1>Introducing the Volatility Smile</h1>
  <p></p>
</ion-content>