<ion-header>
  <ion-card-title>How to Price Forward and Future Contracts</ion-card-title>
  <ion-card-subtitle>Derivative pricing</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <p>In this article we will be covering the formula on how to price forwards and futures</p>
  <p>Forwards have existed for a long time since 2000 B.C. India. Futures were traded in the 16th century Amsterdam and
    traded on an exchange for first tim ein Japan for controlling rice prices.</p>
  <p>The Forwards market is huge due to money market instrument and swaps where the underlying asset is huge. In the
    forwards market, institutions like banks trade these forwards. These dealers make more money for making customized
    contracts for their clients. They don't make as much money from currency forwards.</p>
  <h2>Forwards and Futures Comparison</h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Forwards</h3>
      </ion-col>
      <ion-col>
        <h3>Futures</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>OTC (over the counter)</ion-col>
      <ion-col>Exchange traded</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Highly unregulated. Since they are customized and between two parties, there is more trust.</ion-col>
      <ion-col>Highly regulated</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Illiquid. These products are made specific for their clients, so there is no secondary market for
        forwards.</ion-col>
      <ion-col>Very liquid</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><strong>Counter Party Risk.</strong></ion-col>
      <ion-col>Central Clearing House who is the middleman.</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Settled at maturity</ion-col>
      <ion-col>Settled daily</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Sometimes may require collateral</ion-col>
      <ion-col>Requires margins</ion-col>
    </ion-row>
  </ion-grid>

  <h2>Other terms</h2>
  <h3>Consumption vs Investment Assets</h3>
  <p>Investment assets are assets held by significant numbers of people purely for investment purposes (stocks, bonds)</p>
  <p>Consumption assets are assets help primarily for consumption (oil, copper)</p>
  <p>Some assets can be both. It depends on the intention of the owner.</p>
  <h3>Short Selling</h3>
  <p>Short selling involves selling securities you do not own.</p>
  <p>Since they are selling an asset they don't own, they borrow one from another party. If that asset makes any income over the period of the borrowing, the short seller must compensate the lender with payment (coupon, etc).</p>
 <p>With the borrowed asset, the short seller can sell it, but they must return the same asset to the borrower at maturity.</p>
 <p>A short seller is bearish on asset since they hope they can buy back the asset at a lower price.</p>
 <h4>Assumptions</h4>
 <ul>
   <li>No transaction costs</li>
   <li>Same tax rate on all net trading profits</li>
   <li>Market participants can borrow and/or lend money at the same risk free rate</li>
   <li>Market participants take advantage of any existing arbitrage opportunity.</li>
 </ul>
</ion-content>