<ion-header>
  <ion-card-title>Volatility Smiles</ion-card-title>
  <ion-card-subtitle>How options are priced in the real world</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h1>What is product management?</h1>
  <p>It includes:</p>
  <ul>
    <li>Development</li>
    <li>Sales</li>
    <li>Legal</li>
    <li>Finance</li>
    <li>Research</li>
    <li>Marketing</li>
    <li>Support</li>
    <li>Customers</li>
  </ul>
  <p>A <b>Product</b> is a bundle of physical, service, and symbolic attributes designed to enhance buyers' want satisfaction</p>
  <p>You can think of a product as a core benefit or service. Around that product are key features of that benefit/service such as:</p>
  <ul>
    <li>Packaging</li>
    <li>Styling</li>
    <li>Features</li>
    <li>Quality</li>
    <li>Brand Name</li>
  </ul>
  <p>These features are directly attributed to the product. Other attributes such as Installation, Delivery & Credit, After Sales Service, and Warranty can be thought of as after purchase experiences.</p>
  
</ion-content>