<ion-header>
  <ion-card-title>Off Balance Sheet Activities</ion-card-title>
  <ion-card-subtitle>The non-traditional way banks make money</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">

<h1>Off-balance-sheet activities</h1>
<p>OBS are contingent assets and liabilities that affect the future, rather than the present, shape of an FI's balance sheet. The major types of OBS activities are:</p>
<ul>
  <li>Loan commitments or lines of credit. It promises FI to lend in the future. When you get a credit card, that is a line of credit (contingent asset). When you actually spend money on the credit card, that is the loan.</li>
  <li>Commercial letters of credit and standby letters of credit. These come as guarantees issued by FIs.</li>
  <li>Derivatives contracts. For example, options, futures, forwards, swaps, etc. When banks use derivative contracts, they will execute the contracts at a later date which will affect their future balance sheet.</li>
  <li>Forward purchases/sales of when-issued securities.</li>
  <li>Any issuances of guarantees that may be called into play at a future time, and the commitment to lend at a future time if the borrower desires.</li>
</ul>
<p>Here is an example of a OBS financial statement. If a customer swipes a credit card, the assets for a bank would should a decrease in cash, and an increase in loan, thus satisfying the balance sheet equation.</p>
<img src="../../../assets/images/OBS.png">
<p>OBS activities can also be designed to reduce risk through hedging (interest rate risk, foreign exchange risk). Large and most credit-worthy banks use OBS activities as a source of fee income.</p>
<p>Before the financial crisis, OBS activities could be dangerous. They can be used to artificially inflate profits or mislead investors. Investment vehicles such as <b>collateralized debt obligations, subprime-mortgage securities, and credit default swaps</b> are used to remove debts or risk from balance sheets. Firms would list the sale of these items as assets, but not list the financial obligations that come with them as liabilities. For example, a bank can list a loan as an asset, but then not kept in the books since it is <b>securitized</b> and sold off as an investment. The securitized debt is not kept on the bank's books.</p>
<p>Banks make loans and mortgages that they mark as assets on their balance sheet. They will see the debt to <b>SPV's (Special Purpose Vehicle)</b> which will then repackage the debt into a <b>C.D.O.</b> These C.D.O's will then be sold to investors. SPV's collect repayment on the loans and mortgages to pay returns to investors. What happens if the loans and mortgages default?</p>
<p>The investors who bought the C.D.O won't get their interest or principal. How is this marked on the balance sheet? Well SPV's are just a subsidiary of banks so the bank transfer to an SPV is not marked on a balance sheet, but the sale of the debt to investors is marked on the balance sheet.</p>
<h3>How does an OBS activity move onto the balance sheet as an asset or liability?</h3>
<p>The activity becomes an asset or a liability upon the occurrence of a contingent event, which may not be in the control of the bank. In most cases, the other party involved with the original agreement will call upon the bank to honor its original commitment.</p>
<h3>What are the benefits of OBS activities to a bank?</h3>
<p>Often the bank charges a fee when making the commitment. When the bank honors the commitment, the normal interest rate structure will apply to the commitment as it moves to the balance sheet.</p>
<p>Since the commitment doesn't appear on the balance sheet, the bank avoids the need to fund the asset with either deposits or equity. Thus, the bank avoids possible additional reserve requirement balances and deposit insurance premiums, while improving the earnings stream of the bank.</p>
<p>When a Financial Institution sells a CDO to a SPV, they should mark an increase in liabilities and equity capital.</p>
<img src='../../../assets/images/obs_balance_sheet_ideal.png'>
<p>However by using OBS Activities, they can just mark this sale on the assets side of the balance sheet. By limiting the liabilities on their balance sheet, they can avoid costly regulation.</p>
<img src='../../../assets/images/obs_balance_sheet_actual.png'>
<h3>What are the risks of OBS activities to a bank?</h3>
<p>Now there is a credit risk of the borrower in the assets side of the balance sheet. In many cases, the borrower will not utilize the commitment of the bank until the borrower faces a financial problem that may alter the credit worthiness of the borrower. </p>
<p>Moving the OBS activity to the balance sheet may have an impact on the interest rate and foreign exchange risk of the bank.</p>
<h2>So what happened during the Financial Crisis?</h2>
<p>Banks would treat SPV's as a separate entity, so when they transferred the debt, they could mark it on the balance sheet as a increase in cash and a decrease on loans on the assets side of the balance sheet. This lets them avoid the increase in liabilities if they were to transfer the debt to a sister SPV. Banks want to avoid additional liabilities because liabilities attract regulators who want them to have cash on hand to be able to meet their obligations. This is how Bear Sterns defaulted.</p>
<p>OBS activities in this case increase the incentive for banks to issue loans without them accepting the risk. CEO's can now artificially inflate their profits and reap huge bonuses.</p>

<p>Here are the trends of corporate loan markets. As CDO's (black line) increase up until 2007, the volume of corporate loans increased.</p>
<img src="../../../assets/images/CDO_graph.png">
<p>Here the distance to default is shown which is metric for the risk of defaulting for a firm.</p>
<img src="../../../assets/images/distance-default.png">
<p>On the y-axis is the rate of defaulting. On the x-axis is the time period in months in which the loan was taken. Securitized loans are one's that the bank sells while non-securitized loans are the ones that banks keep. As time increases, risk increases, so banks don't want to hold the loans anymore.</p>
<img src="../../../assets/images/mortgage_crisis.png">
<p>Noting the 10-year treasury bond yield in gray, it has a decreasing trend from 2000 to the present. What caused this?</p>
<p>The dot-com bubble and 9-11 attacks put the US economy in a recession. Similar to the times during COVID, the FED lowered the treasury bond yield to help stimulate the economy. Low interest rates cause the cost of money to decrease, which also lowers the cost of borrowing. The low cost of borrowing attracts poor borrowers which can then increase risk of default by banks. With banks being able to pass on the risk to SPV's the low borrowing rates let banks make lots of loans.</p>
<img src="../../../assets/images/subprime.png">
<p>Here we can see the proportion of subprime mortgages increased in the second half of the 2000's. With the cost of borrowing low, lots of people buy homes. Interest rates have to increase eventually or else you have the problem of inflation, so when interest rates increased in the second half of the 2000's, more people who had subprime mortgages had their monthly payments increase. As people defaulted on their mortgage payments, banks took people's houses as collateral and sold them on the secondary market in the process known as <b>foreclosure</b>. As more homes undergo foreclosure, housing prices drop.</p>
<img src="../../../assets/images/home_values.png">
<p>What happens to the good borrowers who didn't default? Due to housing prices falling, good borrowers had their monthly payments not match the low price of their house. People decided to <b>strategically default</b> to avoid the high monthly payments for the low house price. Search <b>contracting theory</b> to see the theory of what to do when someone defaults.</p>
<h4>Collapse of subprime lending</h4>
<ul>
  <li>
    About 80% subprime mortgage were adjustable-rate-mortgages
  </li>
  <li>
    In March 2007, more than 25 subprime lenders declare bankruptcy or significant loss.
  </li>
  <li>
    High than expected delinquency rate and foreclosure rate
  </li>
  <li>
    In accurate credit ratings
  </li>
  <li>Lots of MBS backed by risky subprime lending were rated as investment grade.</li>
  <li>Conflicts of interest: rating agency was paid by investment banks and other firms that create the MBS</li>
  <li>Between Q3 2007 and Q2 2008, rating agencies lowered the credit ratings on $1.9 trillion in MBS</li>
</ul>
</ion-content>  