<ion-header>
  <ion-card-title>The Corporation</ion-card-title>
  <ion-card-subtitle>A legal entity</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h1>Types of Business</h1>
  <ul>
    <li>Sole Proprietorships</li>
    <ul>
      <li><strong>Pros</strong></li>
      <li>Easy to set up</li>
      <li>No separatation between owner and business</li>
    </ul>
    <ul>
      <li><strong>Cons</strong></li>
      <li>Owner has unlimited personal liability</li>
    </ul>
    <li>Partnerships</li>
    <ul>Includes limited partnerships</ul>
    <ul>
      <li><strong>Pros</strong></li>
      <li>Like a sole proprietorship but can have multiple owners</li>
      <li>Limited partners (as opposed to general partners) can have <strong>limited liability</strong> where their liability is limited to their investment, and they wouldn't be liable if suppose the firm sold dangerous widgets to unknowing consumers</li>
    </ul>
    <ul>
      <li><strong>Cons</strong></li>
      <li>All partners are liable for a firm's debt</li>
    </ul>
    <li>Limited Liability Companies</li>
    <ul>
      <li><strong>Pros</strong></li>
      <ul>All employees can be limited partners</ul>
    </ul>
    <ul>
      <li><strong>Cons</strong></li>
      <li>There are no general partners</li>
    </ul>
    <li>Corporations</li>
    <ul>
      <li><strong>Pros</strong></li>
      <li>Exists as it's own legal entity that can enter contracts or own property/assets</li>
      <li>Easy access to funding through issuing <strong>equity</strong></li>
      <li>Issues <strong>dividend payments</strong> to shareholders for owning a share of the corporation</li>
    </ul>
    <ul>
      <li><strong>Cons</strong></li>
      <li>Costly to set up and must be formed through the state</li>
    </ul>
    <ul>
     
    </ul>
  </ul>
  <p><strong>S Corporatoins</strong> are similar to traditional corporations where instead of being taxed on profits and losses, get to share revenue with its shareholders directly. The shareholders than pay income taxes on these profits.</p>
</ion-content>