<ion-header>
  <ion-card-title>Business to Business Marketing</ion-card-title>
  <ion-card-subtitle>Marketing - B2B</ion-card-subtitle>
</ion-header>

<ion-content class="ion-padding">
  <h1>Business to Business Marketing</h1>
  <p>I'm talking about the buying and selling and other marketing activities that take place between businesses</p>
  <ul>
    <li>Development</li>
    <li>Sales</li>
    <li>Legal</li>
    <li>Finance</li>
    <li>Research</li>
    <li>Marketing</li>
    <li>Support</li>
    <li>Customers</li>
  </ul>
  <h1>Types of Customers</h1>
  <table>
    <thead>
      <tr>
        <th>Commercial</th>
        <th>Instituional</th>
        <th>Governmental</th>
        <th>International</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li>Manufacturers</li>
            <li>Construction firms</li>
            <li>Service firms</li>
            <li>Transport firms</li>
            <li>Professional Groups</li>
            <li>Resellers</li>
          </ul>
          <p>Resellers can include wholesalers, industrial distributors, brokers/agents, and retailers</p>
          <p>These customers are far fewer, but larger and are geographically concentrated in major cities. Commercial
            customers have more buying power Individuals make the purchasing decision and relationships between the
            buyer and seller and the internet are important decision factors.</p>
        </td>
        <td>
          <ul>
            <li>Churches</li>
            <li>Hospitals</li>
            <li>Universities</li>
          </ul>
          <p>These buyers are similar to government buyers in that relationships must be cultivated</p>
        </td>
        <td>
          <p>Consists of 1 federal government, 50 state governments, and 89,004 local governments.</p>
          <p>Government buying works in a formal advertising (open bid) format. They solicit bids from suppliers and have standardized product and straightforward specifications.</p>
          <p>Sometimes they will have a negotiated contract for complex R&D</p>
        </td>
        <td>
          <p>The business market stretches beyond domestic borders to include customers in other countries.</p>
          <p>There are many different buying procedures among different countries</p>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>